*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}
.head h1{  
          color:blue;
}
.container{   
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    border: solid 1px whitesmoke;
    background-color: aliceblue;
    margin-top: 31px;
    padding: 29px;
}
.navigation {
                   margin: 8px;
}
.navigation >a.list-active:visited{
                            color:#1aa3cd;
                            border-bottom:solid 1px #1aa3cd; 
}
.navigation >a.list{
                   text-decoration: none;
                   color: blueviolet;
                  padding:8px 5px;
		margin:0 5px;
                  border-bottom:solid 1px transperent;
}
.navigation >a.list:hover{
                           color:#1aa3cd;
                      
                           border-bottom:1px solid blue;
                         
                           
}

.navigation >a.appoint {
	text-decoration:none;
    border: solid 1px blue;
    background-color: blue;
    color: white;
    border-radius: 17px;
    padding: 8px 10px;
} 


